<!doctype html>
<html class="no-js" lang="zxx">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headfile">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome to VietNam</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest" crossorigin="use-credentials">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{~/bootstrapuser/assets/img/favicon.ico}">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{~/bootstrapuser/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/bootstrapuser/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{~/bootstrapuser/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{~/bootstrapuser/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{~/bootstrapuser/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{~/bootstrapuser/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{~/bootstrapuser/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{~/bootstrapuser/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{~/bootstrapuser/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{~/bootstrapuser/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{~/bootstrapuser/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{~/bootstrapuser/assets/css/mycss.css}">
</head>


<body>
<div th:fragment="menufile">
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top top-bg d-none d-lg-block">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-8">
                            <div class="header-info-left">
                                <ul>
                                    <li>cometoVietNam@gmail.com</li>
                                    <li>0367582***</li>
                                    <li>Hà đông, Ha Noi</li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-4 ">
                            <div class="main-menu header-info-right f-right">
                                <ul class="main-header header-social">
                                    <li><a th:if="(${#authentication.getName()}=='anonymousUser')" th:href="@{~/signin}">Đăng kí</a></li>
                                    <li><a th:if="(${#authentication.getName()}=='anonymousUser')" th:href="@{~/login2}">Đăng nhập</a>
                                    </li>
                                    <li><a href="#" th:if="!(${#authentication.getName()}=='anonymousUser')" th:text="${#authentication.getName()}"><i class="fa fa-user"></a>
                                        <ul class="submenu">
                                            <li><a class="mymenucolor" th:href="@{~/admin}" th:if="(${#authentication.getAuthorities()[0].getAuthority()}=='ROLE_ADMIN')">Next to owner</a></li><br>
                                            <li><a class="mymenucolor" th:href="@{~/logout}">Đăng xuất</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="header-bottom  header-sticky">
                <div class="container p-0">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="logo pb-3">
                                <a th:href="@{~/index}"><img
                                        th:src="@{~/upload/logo_fix.png}"
                                        alt="" height="90px"></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a th:href="@{/index}">Trang chủ</a></li>
                                        <li><a th:href="@{/region}">Vùng miền</a>
                                            <ul class="submenu">
                                                <li><a th:href="@{/region/1}">Miền Bắc</a></li>
                                                <li><a th:href="@{/region/2}">Miền Trung</a></li>
                                                <li><a th:href="@{/region/3}">Miền Nam</a></li>
                                            </ul>
                                        </li>
                                        <li><a th:href="@{/tour}">Tour du lịch</a></li>
                                        <li><a th:href="@{/resort}">Khu nghỉ dưỡng</a></li>
                                        <li><a th:href="@{/special}">Ẩm thực & Nhà hàng</a></li>
<!--                                        <li><a th:href="@{/city}">Thành phố</a></li>-->
                                    </ul>
                                </nav>
                            </div>

                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</div>

<footer th:fragment="footerfile">
    <!-- Footer Start-->
    <div class="footer-area pt-100 pb-100 footer-bg myfooterbg">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a th:href="@{~/index}"><img
                                        th:src="@{~/upload/logo_fix.png}" alt=""
                                        class="heightim"></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Đến với GoTrip, cả Việt Nam mở ra trước mắt bạn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Quick Links</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Danh mục</h4>
                            <ul>
                                <li><a href="#">Thành phố</a></li>
                                <li><a href="#">Vùng miền</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Hỗ trợ</h4>
                            <ul>
                                <li><a href="#"><i class="fas fa-address-card"></i>&nbsp;Thông tin</a></li>
                                <li><a href="#"><i class="fas fa-phone-volume"></i>&nbsp;024 569 025077</a></li>
                                <li><a href="#"><i class="far fa-envelope"></i>&nbsp;cometoVietNam@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer bottom -->
            <div class="row pt-padding">
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="footer-copy-right">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Bản quyền &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            <i class="ti-heart" aria-hidden="true"></i> bởi <a
                                href="https://colorlib.com" target="_blank">WelcomeToVN</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <!-- social -->
                    <div class="footer-social f-right">
                        <a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i
                            class="fab fa-facebook-f"></i></a> <a href="#"><i
                            class="fab fa-behance"></i></a> <a href="#"><i
                            class="fas fa-globe"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Footer End-->

</footer>


<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<!-- All JS Custom Plugins Link Here here -->
<script th:href="@{~/bootstrapuser/assets/js/vendor/modernizr-3.5.0.min.js}"></script>

<!-- Jquery, Popper, Bootstrap -->
<script th:href="@{~/bootstrapuser/assets/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:href="@{~/bootstrapuser/assets/js/popper.min.js}"></script>
<script th:href="@{~/bootstrapuser/assets/js/bootstrap.min.js}"></script>
<!-- Jquery Mobile Menu -->
<script th:href="@{~/bootstrapuser/assets/js/jquery.slicknav.min.js}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script th:href="@{~/bootstrapuser/assets/js/owl.carousel.min.js}"></script>
<script th:href="@{~/bootstrapuser/assets/js/slick.min.js}"></script>
<!-- One Page, Animated-HeadLin -->
<script th:href="@{~/bootstrapuser/assets/js/wow.min.js}"></script>
<script th:href="@{~/bootstrapuser/assets/js/animated.headline.js}"></script>
<script th:href="@{~/bootstrapuser/assets/js/jquery.magnific-popup.js}"></script>

<!-- Scrollup, nice-select, sticky -->
<script th:href="@{~/bootstrapuser/assets/js/jquery.scrollUp.min.js}"></script>
<script th:href="@{~/bootstrapuser/assets/js/jquery.nice-select.min.js}"></script>
<script th:href="@{~/bootstrapuser/assets/js/jquery.sticky.js}"></script>

<!-- contact js -->
<script th:href="@{~/bootstrapuser/assets/js/contact.js}"></script>
<script th:href="@{~/bootstrapuser/assets/js/jquery.form.js}"></script>
<script th:href="@{~/bootstrapuser/assets/js/jquery.validate.min.js}"></script>
<script th:href="@{~/bootstrapuser/assets/js/mail-script.js}"></script>
<script th:href="@{~/bootstrapuser/assets/js/jquery.ajaxchimp.min.js}"></script>

<!-- Jquery Plugins, main Jquery -->
<script th:href="@{~/bootstrapuser/assets/js/plugins.js}"></script>
<script th:href="@{~/bootstrapuser/assets/js/main.js}"></script>

</body>
</html>