<!doctype html>
<html class="no-js" lang="zxx">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head th:insert="userGUI/fragments.html::headfile"/>

</head>

<body>

<!-- Header Start -->
<div th:insert="userGUI/fragments.html::menufile">
</div>
<!-- Header End -->


<main>
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center"
             th:style="'background-image:url(' + @{/upload/nen-home.jpg}+')'">
            <!--            <img th:src="">-->
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Chào mừng bạn đến với Việt Nam</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <div class="support-company-area servic-padding pt-150 fix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="support-location-img mb-50">
                        <img th:src="@{~/bootstrapuser/assets/img/service/immh.jpg}" alt="">
                        <div class="support-img-cap">
                            <span>VietNam</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="right-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2">
                            <span>Welcome to VietNam</span>
                            <h2>Hãy cùng chúng tôi <br>khám phá đất nước Việt Nam xinh đẹp</h2>
                        </div>
                        <div class="support-caption">

                            <div class="select-suport-items">
                                <label class="single-items">
                                    <span class="badge badge-light"><i class="fas fa-check-circle"></i></span>
                                    Các điểm dừng chân lý thú

                                </label>
                                <label class="single-items">
                                    <span class="badge badge-light"><i class="fas fa-check-circle"></i></span>
                                    Các món ăn mang đậm văn hóa từng vùng miền
                                </label>
                                <label class="single-items">
                                    <span class="badge badge-light"><i class="fas fa-check-circle"></i></span>
                                    Cùng tận hưởng các khu nghỉ dưỡng

                                </label>
                                <label class="single-items">
                                    <span class="badge badge-light"><i class="fas fa-check-circle"></i></span>
                                    Khám phá thiên nhiên thú vị của Việt Nam
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Our Services End -->
    <!-- Video Start Arera -->
    <div class="video-area video-bg pt-200 pb-100"
         th:style="'background-image:url(' + @{/bootstrapuser/assets/img/service/videovn-bg.jpg}+')'">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="video-caption text-center">
                        <div class="video-icon">
                            <a class="popup-video" href="https://www.youtube.com/watch?v=WhQapHmaYYE" tabindex="0"><i class="fas fa-play"></i></a>
                        </div>
                        <p class="pera1">Welcome to VietNam</p>
                        <p class="pera2">Nhấn vào để khám phá những vùng đất mới</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Start End -->
    <!-- Testimonial Start -->
    <div class="testimonial-area testimonial-padding">
        <div class="container ">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-11 col-lg-11 col-md-9">
                    <div class="h1-testimonial-active">
                        <div class="single-testimonial text-center">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <img src="assets/img/icon/testimonial.png" alt="">
                                    <p>Cùng welcometoVN khám phá các sản phẩm du lịch của Việt Nam theo từng vùng miền</p>
                                </div>
                                <!-- founder -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="favourite-place pt-0 pb-100">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <span>Khám phá các vùng miền</span>
                        <h2>Việt Nam</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6" th:each="region:${regions}" >
                    <div class="single-place mb-30">
                        <div class="place-img">
                            <img height="250px" width="370px" th:src="@{'~/upload/'+${region.image}}" alt="">
                        </div>
                        <div class="place-cap">
                            <div class="place-cap-top">
                                <a class="d-inline-block" th:href="@{'/region/'+${region.id}}">
                                    <h2 th:text="${region.title}"></h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="whole-wrap">
        <div class="container box_1170">
            <div class="section-top-border">
                <h3>Khám phá</h3>
                <div class="row gallery-item">
                    <div class="col-md-4">
                        <a href="#" th:href="@{/resort/1}" class="img-pop-up">
                            <div class="single-gallery-image"
                                 th:style="'background-image:url(' + @{/upload/1.jpg}+')'"></div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" th:href="@{/tour/1}" class="img-pop-up">
                            <div class="single-gallery-image"
                                 th:style="'background-image:url(' + @{/upload/hagiang.jpg}+')'"></div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" th:href="@{/tour/7}" class="img-pop-up">
                            <div class="single-gallery-image"
                                 th:style="'background-image:url(' + @{/upload/TPHCM.jpg}+')'"></div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" th:href="@{/tour/10}" class="img-pop-up">
                            <div class="single-gallery-image"
                                 th:style="'background-image:url(' + @{/upload/Hue.jpg}+')'"></div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" th:href="@{/tour/7}" class="img-pop-up">
                            <div class="single-gallery-image"
                                 th:style="'background-image:url(' + @{/upload/HaNam.jpg}+')'"></div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" th:href="@{/tour/7}" class="img-pop-up">
                            <div class="single-gallery-image"
                                 th:style="'background-image:url(' + @{/upload/HaGiang.jpg}+')'"></div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" th:href="@{/resort/3}" class="img-pop-up">
                            <div class="single-gallery-image"
                                 th:style="'background-image:url(' + @{/upload/HaNoi.jpg}+')'"></div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" th:href="@{/tour/27}" class="img-pop-up">
                            <div class="single-gallery-image"
                                 th:style="'background-image:url(' + @{/upload/NgheAn.jpg}+')'"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination-area End -->
</main>

<footer th:insert="userGUI/fragments.html::footerfile">


</footer>
<div id="map" style="height: 400px;width: 100%;"></div>
<script th:inline="javascript">
    function initMap() {
        // The location of Uluru
        const uluru = { lat: 18.274202690801715, lng: 106.10499657429374 };

        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
            position: uluru,
            map: map,
        });
    }

</script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq2DIdbjlVLXqSrWi1h_-byo6qlyYFxUk&callback=initMap&libraries=&v=weekly"
        async
></script>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script
        th:href="@{~/bootstrapuser/assets/js/vendor/modernizr-3.5.0.min.js}"></script>

<!-- Jquery, Popper, Bootstrap -->
<script
        th:href="@{~/bootstrapuser/assets/js/vendor/jquery-1.12.4.min.js}"></script>
<script
        th:href="@{~/bootstrapuser/assets/js/popper.min.js}"></script>
<script
        th:href="@{~/bootstrapuser/assets/js/bootstrap.min.js}"></script>
<!-- Jquery Mobile Menu -->
<script
        th:href="@{~/bootstrapuser/assets/js/jquery.slicknav.min.js}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script
        th:href="@{~/bootstrapuser/assets/js/owl.carousel.min.js}"></script>
<script
        th:href="@{~/bootstrapuser/assets/js/slick.min.js}"></script>
<!-- One Page, Animated-HeadLin -->
<script
        th:href="@{~/bootstrapuser/assets/js/wow.min.js}"></script>
<script
        th:href="@{~/bootstrapuser/assets/js/animated.headline.js}"></script>
<script
        th:href="@{~/bootstrapuser/assets/js/jquery.magnific-popup.js}"></script>

<!-- Scrollup, nice-select, sticky -->
<script
        th:href="@{~/bootstrapuser/assets/js/jquery.scrollUp.min.js}"></script>
<script
        th:href="@{~/bootstrapuser/assets/js/jquery.nice-select.min.js}"></script>
<script
        th:href="@{~/bootstrapuser/assets/js/jquery.sticky.js}"></script>

<!-- contact js -->
<script
        th:href="@{~/bootstrapuser/assets/js/contact.js}"></script>
<script
        th:href="@{~/bootstrapuser/assets/js/jquery.form.js}"></script>
<script
        th:href="@{~/bootstrapuser/assets/js/jquery.validate.min.js}"></script>
<script
        th:href="@{~/bootstrapuser/assets/js/mail-script.js}"></script>
<script
        th:href="@{~/bootstrapuser/assets/js/jquery.ajaxchimp.min.js}"></script>

<!-- Jquery Plugins, main Jquery -->
<script
        th:href="@{~/bootstrapuser/assets/js/plugins.js}"></script>
<script
        th:href="@{~/bootstrapuser/assets/js/main.js}"></script>

</body>
</html>